.profile {
  width: 100%;
  min-height: 120px;
  /* display: grid;
  grid-template-columns: minmax(min-content, 120px) repeat(2, auto);
  align-items: center;
  column-gap: 30px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}

@media screen and (max-width: 1120px) {
  .profile {
    column-gap: 20px;
  }
}

@media screen and (max-width: 970px) {
  .profile {
    column-gap: 10px;
  }
}

@media screen and (max-width: 540px) {
  .profile {
    min-height: 286px;
    grid-template-columns: auto;
    grid-template-rows: minmax(min-content, 120px) repeat(2, auto);
    margin: 0 16px;
    justify-items: center;
  }
}