.edit-button {
  min-width: 24px;
  min-height: 24px;
  border: 1px solid #fff;
  justify-self: end;
  align-self: end;
}

@media screen and (max-width: 540px) {
  .edit-button {
    min-width: 18px;
    min-height: 18px;
  }
}