.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  border: 0;
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 540px) {
  .popup__close {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
  }
}