.profile__info {
  /* min-height: 73px; */
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 540px) {
  .profile__info {
    flex-direction: column;
    margin: 0 auto;
  }
}